.option {
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
}
.optionBtn{
  background-color: rgb(134, 134, 134);
  padding: 0 5px 0;
  border-radius: 5px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  background-color: rgb(220, 224, 219);
  border: none;
  outline: none;
}
.ban{
  background-color: rgb(134, 134, 134);
  /* pointer-events: none; */
  cursor: not-allowed;
}